@model IEnumerable<KioskNavy.Models.subSubjectmdels>

<style>
    body {
        background-color: #ffffff; 
        background-image: url("/../../img/10.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }
    .a2 { font-size:0.9em; padding:2px 6px; display:inline-block; margin:2px; border-radius:3px; border:solid rgba(0,0,0,0.2); border-width:1px 1px 3px; box-shadow:0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3); cursor:pointer; user-select:none; transition:0.4s ease; }

    .a2:hover { transform:translateY(-3px); box-shadow:0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4); border-bottom-width:8px; }

    .a2:active { transform:translateY(4px); box-shadow:0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4); border-bottom-width:2px; transition:0.1s ease; }

    .red { background:hsl(8,59%,59%); color:rgba(255,255,255,0.95); text-shadow:-1px -1px 1px rgba(0,0,0,0.1); }
    .orange { background:hsl(41,76%,65%); }
    .yellow { background:hsl(50,81%,65%); }
    .green { background:hsl(104,51%,62%); }
    .blue { background:hsl(176,59%,59%); }

    .borderless td, .borderless th {
    border: none;
}
</style>
@{
    ViewBag.Title = "User ";
    //Layout = "~/Views/Shared/_subsubject.cshtml";
}
@section Scripts{
<script type="text/javascript">
        var idleTime = 0;
        $(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 10) { // 10 minutes
                //window.location.reload();
                url = "/home";
                location.href = url;
            }
        }
</script>
    <script>
        var text =  @Html.Raw(Json.Encode(ViewBag.User));
        var cd = @Html.Raw(Json.Encode(ViewBag.Code));
        var rn = @Html.Raw(Json.Encode(ViewBag.Rank));
        var sub = @Html.Raw(Json.Encode(ViewBag.subject));

        var stateofwindow = window.open('/user/subsubjectpopup?name=' + text + "&rank=" + rn + "&subject=" + sub , 'loginsuccess', 'channelmode=1,resizable=1,scrollbars=0,location=0,titlebar=0,fullscreen=1,height=900,width=' + 1366 + '  , left=' + 1366 + ', toolbar=0, menubar=0,status=0');
        window.onunload = function() {
            if (stateofwindow && !stateofwindow.closed) {
                stateofwindow.close();
            }
        };
        $(document).ready(function () {
            $("#navchoice").attr("href","/user/choice?Name=" + text + "&code=" + cd + "&rank=" + rn);
        })
        function theFunction (val) {
            $("#click_audio").get(0).play();
                var cc = @Html.Raw(Json.Encode(ViewBag.Code));
                var uu = @Html.Raw(Json.Encode(ViewBag.User));
                var rr = @Html.Raw(Json.Encode(ViewBag.Rank));
                var qn = @Html.Raw(Json.Encode(ViewBag.Quizname));
                $.post("@Url.Action("subexist", "user")?subject=" + qn, function (res) {
                    //alert(res.Data.rand);

                    if(res.Data.LevExist == "true"){
                        location.href = "/user/LevelIndex?QuizName=" + qn + "&subsubject=" + val + "&Name=" + uu + "&code=" + cc + "&rank=" + rr;
                    }
                    else{
                        location.href = "/user/QuestionDetail?id3=" + qn +"&level=" + "nolevel" + "&subsubject=" +  val +"&id1=default&choice=all";
                    }
                });


            }

    </script>
}
<audio id="click_audio" src="~/img/click.mp3"></audio>
<audio id="subjecttochoose_audio" src="~/img/subsubject.mp3" autoplay></audio>
<div class="container">
    <br/>
    <br/>
    @{

        var g = Model.GroupBy(r => Model.ToList().IndexOf(r) / 3).ToList();
    }


    @foreach (var item in g)
    {            
        foreach (var Item in item)
        {
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                        <a onClick="theFunction('@Item.SubSubject');" style="text-align:center;color:white;font-size:50px;width:950px;height:90px; background-color:#006dcc;font-family:Tahoma;font-weight:bold" class="a2">
                                @Item.SubSubject
                        </a>
                </div>
       
            </div>
            <br /> <br />
        }
    }

</div>