@model KioskNavy.Models.QuizNameModels

@{
    Layout = @ViewBag.Layout;
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuizNameModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
